asgiref==3.5.0
beautifulsoup4==4.10.0
confusable-homoglyphs==3.2.0
Django==3.2.1
django-bootstrap-v5==1.0.11
django-bootstrap5==21.3
django-registration==3.2
kwargs==1.0.1
kwargs-only==1.1.1
Pillow==9.1.0
psycopg2==2.9.3
pytz==2022.1
soupsieve==2.3.1
sqlparse==0.4.2
