{% extends 'base.html' %}

<!--  -->
{% block content %} {{block.super}}
<main>

    <div class="profile-user-settings">
        <h1 class="profile-user-name">jay_o_</h1>
        <button class="btn profile-edit-btn">Edit Profile</button>
    </div>

    <div class="profile-stats">
            <p><span class="profile-stat-count">32</span> posts</p>
            <p><span class="profile-stat-count">1076</span> followers</p>
            <p><span class="profile-stat-count">158</span> following</p>
    </div>

    <div class="profile-bio">
        <p><span class="profile-real-name">Jay Onesi</span> Total foodie. Love reviewing restaurants and their dish selection.</p>
    </div>
</main>
{% endblock %} 